
@import "../../app.component.scss" ;
.footer{
    position: fixed;
    bottom: 0;
    width:pxTransRem(750px);
    height:pxTransRem(80px);
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 6px 0px rgba(56,4,1,0.4);
    .logo{
        width:pxTransRem(160px);
        height:pxTransRem(58px);
        margin: pxTransRem(11px) pxTransRem(39px);
    } 
    .down{
        width:pxTransRem(260px);
        height:pxTransRem(56px);
        float: right;
        margin:  pxTransRem(12px) pxTransRem(48px);
    }
}